/* Write your code here. */
.main-container {
  background-image: linear-gradient(to right, #1d976c, #93f9b9);
  margin: 15px;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aaaa {
  display: flex;
  flex-direction: column;
}
.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80%;
  width: 80%;
}
.container-1 {
  margin-top: 10px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.heading {
  color: #ffffff;
  font-size: 45px;
  font-weight: bold;
  font-family: 'roboto';
  margin-bottom: 5px;
}
.para {
  color: #e4e7eb;
  font-size: 10px;
  font-weight: bold;
  font-family: 'roboto';
  margin-bottom: 2px;
}
.container-2 {
  margin-left: 10px;
}
.image {
  height: 80%;
  width: 80%;
}

.input {
  font-size: 15px;
  font-family: 'roboto';
  font-weight: bold;
  margin-bottom: 10px;
  padding: 10px;
  width: 70%;
  border-radius: 5px;
  border-color: white;
  border-width: 2px;
}
.no-of-letters {
  color: #219a6f;
  font-size: 20px;
  font-weight: bold;
  font-family: 'roboto';
}
.container {
  background-color: white;
  padding: 1px;
  border-radius: 5px;
  width: 70%;
  text-align: center;
  border-width: 2px;
}
